/* 
font-family: 'Lobster', cursive;
font-family: 'Shadows Into Light', cursive;
*/


/******************
*  Global Styles  *
*******************/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lobster', cursive; 
    background: rgb(244, 250, 255);
    color: rgb(15, 28, 55);
    line-height: 1.25;
    font-size: 1.25rem;
}
main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
h1,
h2
{
    letter-spacing: .1rem;
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 1rem;
    font-family: 'Shadows Into Light', cursive; 
}
h1 {
     font-size: 3rem;
}
h2 {
     font-size: 2rem;
}

p {
    margin-bottom: 1.25rem;
    font-weight: 100;
    color: rgb(96, 113, 149);
}

/* section */
.section {
    padding: 5rem 0;
  }
  
.section-center {
    width: 80%;
    margin: 0 auto;
    max-width: 1170px;
  }




/************
*  REVIEWS  *
*************/
main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.title {
    text-align: center;
    margin-bottom: 2rem;
}
.underline {
    height: 0.25rem;
    width: 8rem;
    background:rgb(0, 164, 222);
    margin-left: auto;
    margin-right: auto;
}
.container {
    width: 80%;
    max-width: 650px;
}
.review {
    background: rgb(255, 255, 255);
    padding: 1.5rem 2rem;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: all 0.3s linear;
    text-align: center;
}
.review:hover {
    box-shadow: 0 5px 15px rgba(5, 1, 50, 0.2);
}
.img-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}
#person-img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}
.img-container::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10e";
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transform: translateY(25%);
    background: pink;
    color: white;
}
.img-container::before {
    content: "";
    width: 100%;
    height: 100%;
    background: pink;
    position: absolute;
    top: -0.25rem;
    right: -0.5rem;
    border-radius: 50%;
}
#author {
    margin-bottom: 0.25rem;
}
#job {
    margin-bottom: 0.5rem;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bolder;
    text-transform: uppercase;
    color: Pink;
    font-size: 1.2rem;
}
#info {
    margin-bottom: 0.75rem;
}
.prev-btn,
.next-btn {
    color: pink;
    font-size: 1.25rem;
    background: transparent;
    border-color: transparent;
    margin: 0 0.5rem;
    transition: all 0.3s linear;
    cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
    color: rgb(0, 164, 222);
}
.random-btn {
    font-family: 'Shadows Into Light', cursive;
    margin-top: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .15rem;
    background: rgb(244, 250, 255);
    color: rgb(0, 164, 222);
    padding: 0.25rem 1.5rem;
    text-transform: capitalize;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    border: 1px solid rgb(0, 164, 222);
    cursor: pointer;
}
.random-btn:hover {
    background: rgb(0, 164, 222);
    box-shadow: 0 5px 15px rgba(5, 1, 50, 0.2);
    border: 1px solid pink;
    color: pink;
}

/******************
*  MEDIA QUERIES  *
*******************/
@media screen and (min-width: 800px) {
    body {
        font-size: 1.3rem;
      }
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h1,
    h2 {
        line-height: 1;
    }
}

@media screen and (min-width: 992px) {
    .section-center {
        width: 80%;
    }
}